<div class="container-fluid" ng-controller="CreateUserController">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Create user</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="">Email</label>
                        <input
                            class="form-control"
                            id=""
                            type="email"
                            placeholder="Email"
                            ng-model="create_user.email"
                        />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="">Password</label>
                        <input
                            class="form-control"
                            id=""
                            type="password"
                            placeholder="Password"
                            ng-model="create_user.password"
                        />
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">First name</label>
                        <input
                            class="form-control"
                            id="inputFirstName"
                            type="text"
                            placeholder="First name"
                            ng-model="create_user.first_name"
                        />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Last name</label>
                        <input
                            class="form-control"
                            id="inputLastName"
                            type="text"
                            placeholder="Last name"
                            ng-model="create_user.last_name"
                        />
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">Age</label>
                        <input
                            class="form-control"
                            id="inputOrgName"
                            type="text"
                            placeholder="Age"
                            ng-model="create_user.age"
                        />
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLocation">Roles</label>
                        <select
                            class="form-control"
                            id="statusSelect"
                            aria-label="Default select example"
                            ng-model="create_user.roles"
                        >
                            <option value="ADMIN">ADMIN</option>
                            <option value="STAFF">STAFF</option>
                        </select>
                    </div>
                </div>

                <div style="float: right">
                    <button class="btn btn-primary" type="button" ng-click="back()">Back</button>
                    <button class="btn btn-primary" type="button" ng-click="create(create_user)">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
