<section ng-controller="ProfileUserController" style="background-color: #eee">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <img alt="avatar" style="width: 310px" height="400px" ng-src="{{ avatarSrc }}" />
                    </div>
                    <br />
                    <div class="d-flex justify-content-center mb-2">
                        <input
                            type="file"
                            id="fileInput"
                            accept="image/*"
                            ng-model="image"
                            onchange="angular.element(this).scope().fileChanged(this)"
                            hidden
                        />
                        <button
                            style="margin-right: 10px"
                            type="button"
                            class="dt-button buttons-html5 btn btn-white btn-success btn-bold"
                            data-toggle="tooltip"
                            title="Create"
                            ng-click="uploadImage()"
                        >
                            <span> <i class="fas fa-plus"></i></span>
                        </button>

                        <button
                            style="margin-right: 10px"
                            type="button"
                            class="dt-button buttons-html5 btn btn-white btn-success btn-bold"
                            data-toggle="tooltip"
                            title="Create"
                            ng-click="avatar()"
                        >
                            <span> <i class="fas fa-check"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.full_name }}</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Roles</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.roles}}</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Working day</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.created_date | date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="justify-content-center mb-2">
                        <button
                            type="button"
                            class="btn btn-primary"
                            style="float: right; margin-right: 15px; margin-bottom: 10px"
                            ng-click="change(user)"
                        >
                            Change
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
