<section ng-controller="ProfileUserController" style="background-color: #eee">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img
                            ng-src="http://127.0.0.1:3009/{{user.avatar}}"
                            alt="avatar"
                            class="rounded-circle img-fluid"
                            style="width: 150px"
                        />
                        <h5 class="my-3">{{ user.last_name }}</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <br />
                        <div class="d-flex justify-content-center mb-2">
                            <input type="file" id="fileInput" accept="image/*" />

                            <button ng-click="uploadImage()">Upload Image</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.full_name }}</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.email }}</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Roles</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.roles}}</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Working day</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ user.created_date | date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="justify-content-center mb-2">
                        <button
                            type="button"
                            class="btn btn-primary"
                            style="float: right; margin-right: 15px; margin-bottom: 10px"
                            ng-click="change(user)"
                        >
                            Change
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
