<section ng-controller="UpdatePostController" style="background-color: #eee">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <img alt="avatar" style="width: 310px" height="400px" ng-src="{{ avatarSrc }}" />
                    </div>
                    <br />
                    <div class="d-flex justify-content-center mb-2">
                        <input
                            type="file"
                            id="fileInput"
                            accept="image/*"
                            ng-model="image"
                            onchange="angular.element(this).scope().fileChanged(this)"
                            hidden
                        />
                        <button
                            style="margin-right: 10px"
                            type="button"
                            class="dt-button buttons-html5 btn btn-white btn-success btn-bold"
                            data-toggle="tooltip"
                            title="Create"
                            ng-click="uploadImage()"
                        >
                            <span> <i class="fas fa-plus"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <p>Content</p>
                        <div class="row" style="height: 200px">
                            <textarea ng-model="post.content"> </textarea>
                        </div>
                        <hr />
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">Category</label>
                            <select
                                class="form-control"
                                id="statusSelect"
                                aria-label="Default select example"
                                ng-model="post.category"
                            >
                                <option ng-repeat="category in list_category" value="{{category.id}}">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                        <hr />
                    </div>
                    <div class="justify-content-center mb-2">
                        <button
                            type="button"
                            class="btn btn-primary"
                            style="float: right; margin-right: 15px; margin-bottom: 10px"
                            ng-click="save(post)"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
